* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
}
body {width:1000px;}
header {
    height: 150px;
}
#logo {float: left; padding-left:30px;}
.login{
	float: right;
	}
#login{
	width:70px;
	height:45px;
	}
.nav1 {
	clear: both; background-color: rgb(82, 82, 255); 
	width: 1000px; height: 50px;
	}
.nav1>a {
    float: left;
    width: 330px;
    text-align: center;
    padding: 5px 0;
    position: relative;
    color: White;
   	vertical-align:middle;
   	line-height:40px;
}

.nav1>a:hover {
    font-weight:bolder;
}

.li1{display: inline-block; width:200px; height:250px; margin:10px;}
.div1 {height:200px;}
.div2 {height:50px;}

#total {float: left;}
#cate{float: right;}

#listA {clear: both;}


.div1 img {
  width:100%;height:100%;}

ul, ol {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon {
    clear: both;
}

.imgbtn {
    display: inline-block;
    margin-left: 100px;
    cursor: pointer;
}

.imgbtn>img {
    width: 200px;
}

.imgbtn button {
    border: none;
    background-color: bisque;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
    font-weight:bolder;
    margin-left:45px;
}

footer{
	width: 1000px;
	height:100px;
	background-color: lightgray;
}
footer>h4 {
	color: rgb(240, 240, 240);
	padding: 20px;
}

#logo2{
	border-radius: 10px;
	border:1px solid gray;
	width: 300px;
	padding-left:30px;
}

#servicePage{
	padding: 0 20px;
}

#aboutPage{
	padding: 20px;
}

#mainPage{
	padding:40px;
}

.searchBtn{
	background-color: rgb(82, 82, 255);
	border-radius:3px;
	border: none;
	color:white;
	width:50px;
}

#loginTable{
	border-collapse: collapse;
	border:none;
}
.loginT{
	padding: 2px;
	border:1px solid rgb(96, 175, 255);
	box-sizing: border-box;
}
#loginTable 


#id,#pwd{
	border:none;
}
